# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.$py.class
*.pyd
*.pyo

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment & local configs
.env
.env.*
*.env
*.local

# Test, coverage and tooling caches
.pytest_cache/
.coverage
.coverage.*
.cache/
.mypy_cache/
.ruff_cache/
.tox/
.hypothesis/
htmlcov/
coverage.xml

# Build outputs
build/
dist/
sdist/
site/
.eggs/
*.egg-info/
*.egg
pip-wheel-metadata/

# Logs
logs/
*.log
uvicorn.log

# Jupyter
.ipynb_checkpoints/

# IDE/editor
.vscode/
.idea/
*.code-workspace

# OS files
.DS_Store
Thumbs.db
$RECYCLE.BIN/

# Misc
*.bak
*.tmp

# ML / model files
*.pth
*.pt
datasets/
*.pkl

#evaluation results
evaluation_results/

# YOLOv8 specific
runs/
wandb/

# NumPy data files
*.npz
*.npy

# Ignore everything inside trained_models
trained_models/